.card{
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px red solid;
    align-content: center;
    margin: 0 auto;
}
.card-header{
    height: 30%;
    background: #5d6770;
    color: white;
    text-align: center;
}
.card-header p{
    font-size: 20px;
}
.container{
    padding: 4px 16px;
}
.container strong span{
    width: 100%;
}
.styled-table{
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(evven){
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}